[submodule "src/tiny-blog-model"]
	path = src/tiny-blog-model
	url = https://github.com/strangedev/tiny-blog-model
[submodule "src/api/tiny-blog-api"]
	path = src/api/tiny-blog-api
	url = https://github.com/strangedev/tiny-blog-api
[submodule "src/tiny-blog-api"]
	path = src/tiny-blog-api
	url = https://github.com/strangedev/tiny-blog-api
